@{
    ViewData["Title"] = "Consultas";
}
@{
    var clientes = new List<Cliente>
    {
    new Cliente
    {
        email = "pepito@gmail.com",
        razonSocial = 11111111,
        direccion = "Calle 1400",
        localidad = "Rosario",
        pais = "Argentina"
    },
    new Cliente
    {
        email = "jorgito@gmail.com",
        razonSocial = 22222222,
        direccion = "Calle 2112",
        localidad = "Brasilia",
        pais = "Brasil"
    },
    new Cliente
    {
        email = "rodrigo@gmail.com",
        razonSocial = 33333333,
        direccion = "Calle 2478",
        localidad = "Toronto",
        pais = "Canada"
    },
    new Cliente
    {
        email = "florentino@gmail.com",
        razonSocial = 44444444,
        direccion = "Calle 9876",
        localidad = "Madrid",
        pais = "España"
    }
    };
}

<div class="text-center">
    <h1 class="display-4">Consultas</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Email</th>
                    <th scope="col">Razón social</th>
                    <th scope="col">Dirección</th>
                    <th scope="col">Localidad</th>
                    <th scope="col">País</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int i = 1;
                    foreach (var cliente in clientes)
                    {
                        <tr>
                            <th scope="row">@i</th>
                            <td>@cliente.email</td>
                            <td>@cliente.razonSocial</td>
                            <td>@cliente.direccion</td>
                            <td>@cliente.localidad</td>
                            <td>@cliente.pais</td>
                        </tr>
                        i++;
                    }
                }
            </tbody>
        </table>
</div>